.right-panel {
  position: absolute;
  right: 0;
  top: 45px;
  bottom: 0;
  width: 260px;
  display: flex;
  flex-direction: column;
  background: #e9ebf0;
  padding: 20px;
  z-index: 10;
  overflow: scroll;
}
