.left-panel {
  position: absolute;
  left: 0;
  top: 72px;
  bottom: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 0 20px;
  z-index: 10;
  overflow: scroll;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.material-wp {
  margin-top: 0;
}

.material {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 200px;
}

.img-list {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0;
}

.background-wp {
  margin-top: 20px;
}

.background {
  display: flex;
  flex-wrap: wrap;
}

.material-btn {
  width: 200px;
  height: 30px;
  background: #FE2C55;
  border-radius: 4px;
  margin-bottom: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.flex-horizontal {
  display: flex;
  justify-content: space-between;
}
.text {
  font-size: 14px;
}
.container-config-item {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;
}
.container-config-text {
  display: inline-block;
  width: 50px;
  text-align: right;
  font-size: 14px;
  margin-right: 10px;
}
.divider-container {
  margin-bottom: 30px;
}
.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  // flex-direction: column;
}
.block {
  background: #f7f8fa;
  border-radius: 10px;
  transition: all 0.1s cubic-bezier(0.95, 0.55, 0.05, 0.46);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 65px;
  &:hover {
    outline: 2px #409eff solid;
  }
}
